.status1 {
  background: transparent;
  color: blue;
  font-weight: bold;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 5px;
  transition: 0.3s ease-in-out;
}
.status2 {
  transition: 0.3s ease-in-out;
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;
  background: transparent;
  color: teal;
  border: 1px solid teal;
}
.status1:hover,
.status2:hover {
  cursor: pointer;
  transform: scale(1.05);
}
