.app-container {
  border: 2px solid #333;
  padding: 10px;
  margin: 10px;
}

/* Child.css */
.child-container {
  border: 2px solid #777;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.child1 {
  border: 2px solid #f00404;
  text-align: center;
 
}
.child2 {
  border: 2px solid #d6f12b;
  text-align: center;
 
}
.child3 {
  border: 2px solid #037a2c;
  text-align: center;
  
 
}
.child3 ul {
  list-style-type: none; 
}

/* EmployeeTable.css */
.employee-table {
  border-collapse: collapse;
  width: 100%;
}

.employee-table th,
.employee-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}